.home{
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    height: 100vh;
    display: flex;
}

/*.home__img{
    height: 70%;
    margin: 90px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
    z-index: 1;
}*/

.home__data{
    max-width: 700px;
    padding-top: 20px;
}

.button{
    margin-left: 33%;
}

.home__title{
    position: relative;
    font-size: var(--home-title-size);
    color: var(--text-white);
    line-height: 1.24;
    padding-left: 70px;
}

.home__title span{
    color: var(--first-color);
}

@media screen and (max-width:1399px) {
    .home__data{
        max-width: 600px;
    }
}